@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}


@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(60% 0.25 292.717);
  --color-primary-content: oklch(97% 0 0);
  --color-secondary: oklch(63% 0.237 25.331);
  --color-secondary-content: oklch(97% 0 0);
  --color-accent: oklch(75% 0.183 55.934);
  --color-accent-content: oklch(97% 0 0);
  --color-neutral: oklch(97% 0 0);
  --color-neutral-content: oklch(20% 0 0);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(20% 0 0);
  --color-success: oklch(76% 0.233 130.85);
  --color-success-content: oklch(20% 0 0);
  --color-warning: oklch(45% 0.187 3.815);
  --color-warning-content: oklch(97% 0 0);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0 0);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(21% 0.006 285.885);
  --color-base-200: oklch(14% 0.005 285.823);
  --color-base-300: oklch(27% 0.006 286.033);
  --color-base-content: oklch(97% 0 0);
  --color-primary: oklch(60% 0.25 292.717);
  --color-primary-content: oklch(97% 0 0);
  --color-secondary: oklch(57% 0.245 27.325);
  --color-secondary-content: oklch(97% 0 0);
  --color-accent: oklch(75% 0.183 55.934);
  --color-accent-content: oklch(97% 0 0);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(97% 0 0);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(14% 0.005 285.823);
  --color-success: oklch(76% 0.233 130.85);
  --color-success-content: oklch(97% 0 0);
  --color-warning: oklch(45% 0.187 3.815);
  --color-warning-content: oklch(97% 0 0);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0 0);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
